* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.standard-styling-header-footer {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: wrap;
  gap: 50px;
}

h1,
h3 {
  margin: 1rem 0;
}

h2,
label,
input {
  margin: 0.2rem 0;
}

p {
  margin: 0.5rem 0 2rem 0;
}

#header-logo {
  height: 16vh;
  width: auto;
}

.main-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f7f7;
  text-align: center;
  background-color: #494884;
}

.submit-section {
  background-color: rgba(141, 139, 255, 0.5);
  width: 60vw;
  margin-bottom: 1rem;
  border-radius: 2px;
}

.nav-link {
  text-decoration: none;
}

#reviews-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .dropdown {
  position: relative;
} */

.header-nav {
  display: none;
}

#previous-reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

input,
textarea {
  background-color: #f7f7f7;
  color: #494884;
}

button {
  margin: 0.5rem 0;
  font-family: "Figtree", sans-serif;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
}
